doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.header
			-if(user)
				div
					div.header_item
						a(href='/login') Logout
					div.header_item
						label #{user.email}
					div.header_item
						a(href='/history') History
					div.header_item
						a(href='/project') Projects
			-else
				a(href='/login') Login
		-if(flashMessage)
			div.note #{flashMessage}
		block content
