extends layout

block content
	div.content
		h1 Projects

		div
			-if(projects)
				-each project in projects
					div
						a(href="/project/view?id=#{project._id}")
							label #{project.name}
			-else
				label No Projects Found

	div.content
		form(name="add_project", action="/project/add", method="post")
			div
				label Project Name
				input(name="project_name", type="text", required, autofocus)
			div
				label
				input(type="submit", value="add")
