extends layout

block content
	div.content
		h1 #{project.name}
		
	div.content
		h1 Recent Locs
		-if(locs)
			-each loc in locs
				div
					a(href="/loc/view?id=#{loc._id}") #{loc.name}
		-else
			label None Found

	div.content
		h1 Project Settings
		form(name="edit_project", action="/project/edit", method="post")
			div
				label Name
				input(name="project_name", type="text", value="#{project.name}" required, autofocus)
			div
				label
				input(type="submit", value="save")
